html{
    width: 100%;
}
body{
    text-align: center;
    height: 100%;
}
.header{
    display: flex;
    flex-direction: column;

}

#backWeel, #frontWeel{
    animation: wheel 2s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}


@keyframes wheel{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

#Products{
    animation: productsJump 1s alternate-reverse infinite ;
}

@keyframes productsJump{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(-4%);
    }
}

#Cart{
    animation: cartMove 1s alternate-reverse infinite;

}


@keyframes cartMove{
    from{
        transform: translateY(0%) rotate(1deg);
    }
    to{
        transform: translateY(-1%) rotate(-1.5deg);
    }
}

#video{
    width: 45%;
    
    z-index: -1000000000;
}
#statusCanvas{
    margin-top: 10px;
}
@media only screen and (max-width: 600px){
    #video{
        width: 95%;
    }
}



