*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

nav{
    position: fixed;
    bottom:0;
    width:100vw;
    border-top: 1px solid #dadde1;
    background-color: white;
}

nav ul{

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

nav ul li {
    padding: 10px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
nav ul li a i {
    margin-bottom: 3px;
    font-weight: 300;
}

nav ul li a.selected{
    color:#2291ff
}
